.hide {
    display: none;
}

.container-painted1 {
    background-color: rgb(226, 27, 60);
    width: 100%;
    /* height: 150px; */
    display: flex;
    flex-direction: row;
    border-bottom: 6px solid rgb(192 23 51);
    border-right: 3px solid rgb(192 23 51);
    height: 100px;
    cursor: pointer;
}

.answer-container-painted1 {
    background-color: rgb(226, 27, 60);
    flex-grow: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.container-painted2 {
    background-color: rgb(19, 104, 206);
    width: 100%;
    /* height: 150px; */
    display: flex;
    flex-direction: row;
    border-bottom: 6px solid rgb(16 90 177);
    border-right: 3px solid rgb(16 90 177);
    height: 100px;
    cursor: pointer;
}

.answer-container-painted2 {
    background-color: rgb(19, 104, 206);
    flex-grow: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.container-painted3 {
    background-color: rgb(199, 146, 0);
    width: 100%;
    /* height: 150px; */
    display: flex;
    flex-direction: row;
    border-bottom: 6px solid rgb(184 134 0);
    border-right: 3px solid rgb(184 134 0);
    height: 100px;
    cursor: pointer;
}

.answer-container-painted3 {
    background-color: rgb(199, 146, 0);
    flex-grow: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.container-painted4 {
    width: 100%;
    /* height: 150px; */
    display: flex;
    flex-direction: row;
    border-bottom: 6px solid rgb(32 117 10);
    border-right: 3px solid rgb(32 117 10);
    background-color: rgb(35, 126, 11);
    height: 100px;
    cursor: pointer;
}

.answer-container-painted4 {
    background-color: rgb(35, 126, 11);
    flex-grow: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.list-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top:10px;
}

.answer {
    color: white;
    font-size: x-large;
    user-select: none;
}