.big {
    width: 35%;
    align-self: center;
}

body {
    background-color: white;
    margin: 0;
}

.top-rated-cont {
    list-style-type: none;
    /* color:black; */

    /* padding: 0; */
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, 150px);
}

.top-rated-list-item {
    /* width: 150px; */
    /* height: 150px; */
    /* border: 2px solid black; */
    /* margin:10px; */
}

.home-page-cont {
    height: 200vh;
    color: black;
}

@media screen and (max-width: 400px) {
    /* .top-rated-cont {
        padding: calc((100% - 310px) / 2);
    } */
}