.container {
    height: 100%;
    flex-basis: 10%;
    background-color: rgb(35, 126, 11);
    border-radius: 1rem 1rem 1rem 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
    flex-grow: 2;
    max-width: 50px;
    width: 30px;
    margin-left: 3px;
    margin-right: 3px;

}

.square {
    width: 25px;
    height: 25px;
    background: white;
    border: 2px solid rgb(35, 126, 11);
}

@media screen and (max-width: 770px) {
    .square {
        /* width: 1rem;
        height: 1rem; */
        display:none;
    }

}