.container {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-bottom: 6px solid rgb(217 217 217);
    border-right: 3px solid rgb(217 217 217);
    justify-content: center;
}

.answer-container {
    background-color: white;
    flex-grow: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.answer-placeholder {
    color: black;
    border: 3px solid white;
    outline: none;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: xxx-large;
    text-align-last: center;
}

.answer-placeholder:focus-visible {
    border: 3px solid white;
}

@media screen and (max-width: 770px) {
    .container {
        width: 100%;
    }

    .answer-placeholder {
        font-size: 1rem;
    }
}